.nav-custom-bg {
  background-color: white;
  background-position: 100%;
}

@media (max-width: 768px) {
  .custom-btn-login {
    width: 100%;
  }
}

/* Footer */
.footer-wraper {
  background-color: slategrey;
  min-height: 50px;
}

.text-main {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-60%, 50%);
  color: white;
}

.praktikum {
  background-image: url("./Assests/hero.jpg");
  background-size: cover;
  background-position: center;
  padding: 330px;

  /* For The Text */
}

/* .content-image {
  position: relative;
  text-align: center;
}

.datang {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
}

.text-datang {
  position: absolute;
  top: 52%;
  left: 17.4%;
  color: rgb(9, 9, 9);
} */
